In [1]:
# Import libraries
from pyspark.sql import SparkSession
from pyspark import SparkFiles
from pyspark.sql.functions import to_date
import pyspark.sql.functions as f
import pandas as pd

In [2]:
# Create spark session
spark = SparkSession.builder.appName("sc").getOrCreate()

## Mobile Electronics

In [3]:
# Read in data 
url = "https://s3.amazonaws.com/amazon-reviews-pds/tsv/amazon_reviews_us_Mobile_Electronics_v1_00.tsv.gz"
spark.sparkContext.addFile(url)
df = spark.read.csv(SparkFiles.get("amazon_reviews_us_Mobile_Electronics_v1_00.tsv.gz"), sep="\t", header=True, inferSchema=True)

# Change format of review_date
df = df.withColumn("review_date",to_date(df["review_date"], 'yyyy/mm/dd'))
df.show()

+-----------+-----------+--------------+----------+--------------+--------------------+------------------+-----------+-------------+-----------+----+-----------------+--------------------+--------------------+-----------+
|marketplace|customer_id|     review_id|product_id|product_parent|       product_title|  product_category|star_rating|helpful_votes|total_votes|vine|verified_purchase|     review_headline|         review_body|review_date|
+-----------+-----------+--------------+----------+--------------+--------------------+------------------+-----------+-------------+-----------+----+-----------------+--------------------+--------------------+-----------+
|         US|   20422322| R8MEA6IGAHO0B|B00MC4CED8|     217304173|BlackVue DR600GW-PMP|Mobile_Electronics|          5|            0|          0|   N|                Y|         Very Happy!|As advertised. Ev...| 2015-08-31|
|         US|   40835037|R31LOQ8JGLPRLK|B00OQMFG1Q|     137313254|GENSSI GSM / GPS ...|Mobile_Electronics|          5|            0|          1|   N|                Y|           five star|          it's great| 2015-08-31|
|         US|   51469641|R2Y0MM9YE6OP3P|B00QERR5CY|      82850235|iXCC Multi pack L...|Mobile_Electronics|          5|            0|          0|   N|                Y|        great cables|These work great ...| 2015-08-31|
|         US|    4332923| RRB9C05HDOD4O|B00QUFTPV4|     221169481|abcGoodefg® FBI C...|Mobile_Electronics|          4|            0|          0|   N|                Y|Work very well bu...|Work very well bu...| 2015-08-31|
|         US|   44855305|R26I2RI1GFV8QG|B0067XVNTG|     563475445|Generic Car Dashb...|Mobile_Electronics|          2|            0|          0|   N|                Y|Cameras has batte...|Be careful with t...| 2015-08-31|
|         US|    7846966| RY8DDL22YG4R5|B00KA6CCVY|     713636156|Aweek® Air Acoust...|Mobile_Electronics|          3|            0|          1|   N|                Y|It appears to be ...|It appears to be ...| 2015-08-31|
|         US|   21299354|R2AT2426ZHFUHH|B00MJCDPM2|     754171872|Sentey LS-4460 B-...|Mobile_Electronics|          3|            0|          1|   N|                Y|Didn't love the f...|First one arrived...| 2015-08-31|
|         US|   28902968|R3RRXU2R23NMQ9|B00ET5AWBY|     508373185|iPad Car Headrest...|Mobile_Electronics|          5|            0|          0|   N|                Y|          Five Stars|Worked great for ...| 2015-08-31|
|         US|    2074438|R250PR8VJUZ62F|B00Z9K379C|     759387370|ANWING Waterproof...|Mobile_Electronics|          4|            0|          2|   N|                Y|          Four Stars|this is a very go...| 2015-08-31|
|         US|   48701722| RBEMQ29WJBHYG|B00YO3UYXW|     913911909|Jensen MCR-100 Ca...|Mobile_Electronics|          5|          164|        168|   N|                Y|  I LOVE my recorder|I LOVE my recorde...| 2015-08-31|
|         US|    2990247|R19VVIUT4BZCMT|B011W26BU2|     938399424|Bluetooth Speaker...|Mobile_Electronics|          5|            2|          2|   N|                Y|          Five Stars|Great sound great...| 2015-08-31|
|         US|   52946117|R1DT8JJUQHUKUL|B00H8PI78C|     661515294|15Pcs DC 5V 85dB ...|Mobile_Electronics|          3|            0|          1|   N|                Y|More of a beeper ...|If what you want ...| 2015-08-31|
|         US|   49359994| RLIL6S9OGM3YA|B00M49C6MK|      91176851|      Sentey Ls 4162|Mobile_Electronics|          5|            0|          0|   N|                Y|          Five Stars|             Love it| 2015-08-31|
|         US|    4158732|R34EZZ68VYPHO0|B011Q291PK|     891142775|IcePACK 8 Can Ins...|Mobile_Electronics|          1|            1|          1|   N|                Y|            One Star|               Sucks| 2015-08-31|
|         US|   18944032|R3TZNSOXS13SIG|B00W6OLUGQ|     577462547|DTK® AMI MDI MMI ...|Mobile_Electronics|          2|            1|          3|   N|                Y|           Two Stars|u need to plug in...| 2015-08-31|
|         US|     279606|R12UBZT87UX3AP|B008MY1F8W|     680240984|INPA K+CAN K+DCAN...|Mobile_Electronics|          5|            2|          2|   N|                Y|          Five Stars|Worked with MHD F...| 2015-08-31|
|         US|   10947966| R5KCRE927NYMU|B00KW3XNUE|     219920841|Magicfly Wireless...|Mobile_Electronics|          2|            0|          0|   N|                N|Battery Cover Poo...|Just arrived,  re...| 2015-08-31|
|         US|   18387442| RT12RQFU0V2AX|B009NGR0AK|     254898339|Humminbird XNT 9 ...|Mobile_Electronics|          5|            1|          1|   N|                Y|        Works great.|I bought this uni...| 2015-08-31|
|         US|   48950322|R2K0YQPV5W2SJ1|B011W26BU2|     938399424|Bluetooth Speaker...|Mobile_Electronics|          4|            2|          2|   N|                Y|A Lot of Sound In...|I am giving the s...| 2015-08-31|
|         US|   48148197|R104MY31OKNGXH|B00PAP68WO|     366592530|Foxnovo 3.7V 380m...|Mobile_Electronics|          5|            0|          0|   N|                Y|          Five Stars|Met my applicatio...| 2015-08-31|
+-----------+-----------+--------------+----------+--------------+--------------------+------------------+-----------+-------------+-----------+----+-----------------+--------------------+--------------------+-----------+
only showing top 20 rows

In [4]:
# Create vine table
vine = df.select(["review_id","star_rating","helpful_votes","total_votes","vine"]).distinct()
vine.show()
print(vine.count())

+--------------+-----------+-------------+-----------+----+
|     review_id|star_rating|helpful_votes|total_votes|vine|
+--------------+-----------+-------------+-----------+----+
|R1CUNSRHBYLK9Z|          5|            0|          0|   N|
|R1R92GU8HX3MS3|          5|            0|          0|   N|
|R3T04LU0Y3ISRP|          5|            0|          0|   N|
|R35NXSJYS0KO21|          5|            2|          2|   N|
|R34AP4T5722YRA|          5|            0|          0|   N|
|R1OZ2C46Y5YWYA|          4|            0|          0|   N|
|R2LCMB4NBNV8QA|          4|            0|          0|   N|
|R33JXV99QFS9RD|          3|            0|          0|   N|
|R1Y3W0LSNMJLMA|          5|            0|          0|   N|
|R3NCC7HYC1RQXW|          3|            0|          0|   N|
|R3RW7L5N5DH1ZO|          1|            0|          0|   N|
| R7WE4DW38VLTF|          5|            0|          0|   N|
|R1N4TO70TA41N5|          2|            0|          0|   N|
|R155SD2MBVL3G7|          5|            0|          0|   N|
|R2QGVL0P2O6VCU|          5|            1|          2|   N|
|R11KJY3SGQBGC1|          1|            2|          2|   N|
|R13CW5BL5PYVR1|          5|            1|          1|   N|
| RHG5QXRNKTI63|          5|            0|          0|   N|
|R1QNFEAMAC7GR2|          5|            0|          0|   N|
|R2302LNMHBUEZV|          4|            0|          0|   N|
+--------------+-----------+-------------+-----------+----+
only showing top 20 rows

104975

In [5]:
# Convert vine table to pandas df
vine_df = vine.toPandas()

# Drop the rows with null values 
vine_df = vine_df.dropna(axis=0)

vine_df.head()

        review_id  star_rating  helpful_votes  total_votes vine
0  R1CUNSRHBYLK9Z            5              0            0    N
1  R1R92GU8HX3MS3            5              0            0    N
2  R3T04LU0Y3ISRP            5              0            0    N
3  R35NXSJYS0KO21            5              2            2    N
4  R34AP4T5722YRA            5              0            0    N

In [6]:
# Print number of rows
vine_df.count()

review_id        104975
star_rating      104975
helpful_votes    104975
total_votes      104975
vine             104975
dtype: int64

In [7]:
# Calculate average star_rating, # 5-star reviews, helpful votes, and total_votes by vine status
avg_star_rating = vine_df.groupby("vine")["star_rating"].mean()
num_five_star_reviews = vine_df.loc[vine_df["star_rating"]==5].groupby("vine")["star_rating"].count()
avg_helpful_votes = vine_df.groupby("vine")["helpful_votes"].mean()
avg_total_votes = vine_df.groupby("vine")["total_votes"].mean()

In [8]:
# Create dataframe with calculated values
vine_summary = pd.DataFrame({
    'avg_star_rating' : avg_star_rating,
    'num_five_star_reviews' : num_five_star_reviews,
    'avg_helpful_votes' : avg_helpful_votes,
    'avg_total_votes' : avg_total_votes
})
vine_summary

,avg_star_rating,num_five_star_reviews,avg_helpful_votes,avg_total_votes
vine,,,,
N,3.763141,52249,1.237345,1.607125
Y,3.888889,6,41.888889,50.500000

## Major Appliances

In [9]:
# Read in data 
url = "https://s3.amazonaws.com/amazon-reviews-pds/tsv/amazon_reviews_us_Major_Appliances_v1_00.tsv.gz"
spark.sparkContext.addFile(url)
df = spark.read.csv(SparkFiles.get("amazon_reviews_us_Major_Appliances_v1_00.tsv.gz"), sep="\t", header=True, inferSchema=True)

# Change format of review_date
df = df.withColumn("review_date",to_date(df["review_date"], 'yyyy/mm/dd'))
df.show()

+-----------+-----------+--------------+----------+--------------+--------------------+----------------+-----------+-------------+-----------+----+-----------------+--------------------+--------------------+-----------+
|marketplace|customer_id|     review_id|product_id|product_parent|       product_title|product_category|star_rating|helpful_votes|total_votes|vine|verified_purchase|     review_headline|         review_body|review_date|
+-----------+-----------+--------------+----------+--------------+--------------------+----------------+-----------+-------------+-----------+----+-----------------+--------------------+--------------------+-----------+
|         US|   16199106|R203HPW78Z7N4K|B0067WNSZY|     633038551|FGGF3032MW Galler...|Major Appliances|          5|            0|          0|   N|                Y|If you need a new...|What a great stov...| 2015-08-31|
|         US|   16374060|R2EAIGVLEALSP3|B002QSXK60|     811766671|Best Hand Clothes...|Major Appliances|          5|            1|          1|   N|                Y|          Five Stars|        worked great| 2015-08-31|
|         US|   15322085|R1K1CD73HHLILA|B00EC452R6|     345562728|Supco SET184 Ther...|Major Appliances|          5|            0|          0|   N|                Y|       Fast Shipping|Part exactly what...| 2015-08-31|
|         US|   32004835|R2KZBMOFRMYOPO|B00MVVIF2G|     563052763|Midea WHS-160RB1 ...|Major Appliances|          5|            1|          1|   N|                Y|          Five Stars|Love my refrigera...| 2015-08-31|
|         US|   25414497| R6BIZOZY6UD01|B00IY7BNUW|     874236579|Avalon Bay Portab...|Major Appliances|          5|            0|          0|   N|                Y|          Five Stars|No more running t...| 2015-08-31|
|         US|   36311751|R1MCXZFNF8E7Y0|B0033X29CI|     294467812|Danby  Freestandi...|Major Appliances|          1|            0|          0|   N|                Y|       Piece of Junk|It would not cool...| 2015-08-31|
|         US|   30920961|R3EMB3E3ODR6BW|B005R597HA|     183784715|Avanti 110-Volt A...|Major Appliances|          5|            2|          2|   N|                Y|Works awesome for...|Works awesome for...| 2015-08-31|
|         US|   52491265| RJTONVTTOPJ5S|B00MO6V8Y0|     960251524|      Danby products|Major Appliances|          5|            0|          0|   N|                Y|          Five Stars|exactly what I wa...| 2015-08-31|
|         US|   48166169|R21U5QZ2CQECUM|B00HT39QDI|     992475314|3 Pack Tier1 MSWF...|Major Appliances|          4|            0|          0|   N|                Y|          Four Stars|       AS advertised| 2015-08-31|
|         US|   50394924| RL2BBC51H89DH|B00LESFZ52|       1641606|True TSSU-60-16 6...|Major Appliances|          4|            0|          0|   N|                Y|but has poor insu...|It works as adver...| 2015-08-31|
|         US|    3915552|R3RNEPHF3WIRSZ|B0149IJVPI|     838108342|Magic: the Gather...|Major Appliances|          2|            0|          0|   N|                N|           Two Stars|it's not worth 22...| 2015-08-31|
|         US|   17068589|R38DNT9KML2PF3|B002HT0958|     387104338|Mini Portable Cou...|Major Appliances|          5|            0|          0|   N|                Y| Love it for camping|Wonderful! It spi...| 2015-08-31|
|         US|   52081068|R2ECMBJM8KNNC8|B006WOBNX6|     180688127|1 X Dishwasher Ra...|Major Appliances|          4|            0|          0|   N|                Y|          Four Stars|Did the job but d...| 2015-08-31|
|         US|   13783713|R2F3F92PRN9T7S|B00NLPMOU0|     570132358|Watson 1.5 ft AC ...|Major Appliances|          5|            0|          0|   N|                Y|Very well satisfied.|Arrived on time a...| 2015-08-31|
|         US|   14555366|R35XNT88XVEMK6|B00KJ07SEM|     313983847|GE MWF SmartWater...|Major Appliances|          5|            1|          1|   N|                Y|          Five Stars|               Super| 2015-08-31|
|         US|   48417244| RZRXLHQS71FUP|B001AT2ALM|     364403440|Koldfront Ultra C...|Major Appliances|          4|            1|          1|   N|                Y|          Four Stars|Looking forward t...| 2015-08-31|
|         US|   19010760|R3J9T4MZRAURV5|B00JG8B42K|     672722354|OnePurify RFC0800...|Major Appliances|          1|            0|          0|   N|                Y|     dont waste your|cheap knock-off. ...| 2015-08-31|
|         US|   43532555|R3CLDHHI0ZSQLO|B00FRJ5EWS|     137548022|2016 Life Water I...|Major Appliances|          5|            1|          2|   N|                N|       Great Product|My wife is lookin...| 2015-08-31|
|         US|   21879631| RY52KZABZK8QF|B0052G14E8|     423421857|Danby 0.7 cu.ft. ...|Major Appliances|          1|            0|          0|   N|                Y|Do not recommend ...|3 of the buttons ...| 2015-08-31|
|         US|     810098|R25RXV5X29M3UC|B00LOVVE9A|     386722389|SPT UF-304SS Ener...|Major Appliances|          4|            0|          1|   N|                Y|          Four Stars|     So far so good.| 2015-08-31|
+-----------+-----------+--------------+----------+--------------+--------------------+----------------+-----------+-------------+-----------+----+-----------------+--------------------+--------------------+-----------+
only showing top 20 rows

In [10]:
# Create vine table
vine = df.select(["review_id","star_rating","helpful_votes","total_votes","vine"]).distinct()
vine.show()
print(vine.count())

+--------------+-----------+-------------+-----------+----+
|     review_id|star_rating|helpful_votes|total_votes|vine|
+--------------+-----------+-------------+-----------+----+
| RY52KZABZK8QF|          1|            0|          0|   N|
|R2U9J9KVB8S140|          5|            1|          1|   N|
|R145WADN41BMII|          3|            0|          1|   N|
| R1EGFDXPYGROC|          5|           28|         32|   N|
|R3LSXWYAIE6WBG|          1|            0|          2|   N|
|R1UW7UNV8WVVDM|          5|            8|         12|   N|
| RLF34QU0SEFIC|          4|            0|          0|   N|
|R36FQD22P658I4|          5|            0|          0|   N|
|R3LTMSZ0JFM20H|          5|            0|          0|   N|
|R21RFI3YONUSXF|          2|            0|          1|   N|
|R1YYVIO5OG2AQ0|          5|            1|          2|   N|
| R7W2CF7W8LM1N|          5|            0|          0|   N|
|R2WNIYQ3L9MN9Q|          1|            4|          4|   N|
| RG9X7NVNUBZ0V|          1|            1|          1|   N|
|R2TXSGENVKPZTD|          5|            0|          0|   N|
|R2VBKWFZ6K5LD0|          4|            2|          3|   N|
| RVUHGWG9RGDQI|          1|            3|          4|   N|
| RF641Y7BXJ0G4|          5|            0|          0|   N|
|R2L4EY0P304JL8|          4|           11|         14|   N|
|R1GDQN4NVXX6U1|          5|            3|          3|   N|
+--------------+-----------+-------------+-----------+----+
only showing top 20 rows

96901

In [11]:
# Convert vine table to pandas df
vine_df = vine.toPandas()

# Drop the rows with null values 
vine_df = vine_df.dropna(axis=0)

vine_df.head()

        review_id  star_rating  helpful_votes  total_votes vine
0   RY52KZABZK8QF            1              0            0    N
1  R2U9J9KVB8S140            5              1            1    N
2  R145WADN41BMII            3              0            1    N
3   R1EGFDXPYGROC            5             28           32    N
4  R3LSXWYAIE6WBG            1              0            2    N

In [12]:
# Print number of rows
vine_df.count()

review_id        96901
star_rating      96901
helpful_votes    96901
total_votes      96901
vine             96901
dtype: int64

In [13]:
# Calculate average star_rating, # 5-star reviews, helpful votes, and total_votes by vine status
avg_star_rating = vine_df.groupby("vine")["star_rating"].mean()
num_five_star_reviews = vine_df.loc[vine_df["star_rating"]==5].groupby("vine")["star_rating"].count()
avg_helpful_votes = vine_df.groupby("vine")["helpful_votes"].mean()
avg_total_votes = vine_df.groupby("vine")["total_votes"].mean()

In [14]:
# Create dataframe with calculated values
vine_summary = pd.DataFrame({
    'avg_star_rating' : avg_star_rating,
    'num_five_star_reviews' : num_five_star_reviews,
    'avg_helpful_votes' : avg_helpful_votes,
    'avg_total_votes' : avg_total_votes
})
vine_summary

,avg_star_rating,num_five_star_reviews,avg_helpful_votes,avg_total_votes
vine,,,,
N,3.714805,49592,4.315779,5.173528
Y,4.254032,112,14.274194,16.338710